body{
    padding: 0% 15% 10% 15%;
}

.container{
    align-items:center;
}

.container_title{
    text-align: center;
    margin-left: 20px;
    margin-bottom: 4rem;
    margin-top: 2rem;
}
.t_head{
    background-color: black;
    margin: 200px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 15rem;
    right: 50rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 20px;
    z-index: 9;
}

.line {
    border: none; 
    border-top: 2px solid black; 
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}